body{
font-family:Arial;
margin:0;
}



.hero{

padding:120px 20px;

background:linear-gradient(120deg,#3f51b5,#9c27b0,#ff6ec4);

}

.profile-img{

width:140px;
border-radius:50%;
border:5px solid white;
margin-bottom:20px;

}

.role{
font-size:20px;
}


.about{

padding:60px;
background:#f2f2f2;

}





.skills{

padding:60px;
background:#fafafa;

}

.skill-card{

padding:30px;
border:none;
box-shadow:0 4px 10px rgba(0,0,0,0.1);

}

.skill-card img{

width:70px;
margin-top:10px;

}




.projects{

padding:60px;
background:#f2f2f2;

}

.project-card{

padding:10px;
border:none;
box-shadow:0 4px 10px rgba(0,0,0,0.1);

}

.project-card img{

width:100%;
height:160px;
object-fit:cover;

}



.contact{

padding:60px;

background:linear-gradient(120deg,#3f51b5,#9c27b0,#ff6ec4);

}